.topbar { background: rgb(192, 192, 192) transparent;
background: rgba(192, 192, 192, 0.8);
/*width: 95%;*/
margin-top: 1%;
width: 90%;
}

.topbar-resize {
	width: 100%;
	margin-right: 0px;	
}

.menu {
	display: block;
	height: 5%;
	margin-bottom: 2%;
	z-index: 1;
}

.middle {
	margin-top:12%;
/*	width: 100%;*/
}

.f-nav{ z-index: 9999;
	position:
	fixed;
	top: 0;
	/*width: 90%;*/
}
.right{
	right:0;
}

.left{
	left:0;
}

.media-resized {
	width: 480px;
	border-top: 180px;
}

.navbar-brand {
	float: left;
}

.navbar-right {
	float: right;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.topbar1{
margin-right: 0px !important;
}

.topbar2{
margin-right: 100px !important;
}

.topbar3{
margin-right: 200px !important;
}

.topbar4{
margin-right: 400px !important;
}


.navbar-nav.navbar-right1 {
margin-right: 0px !important;
}

.navbar-right {
float: right!important;
}

.footer {
  position: relative;
  /*margin-top: -150px;  negative value of footer height */
  clear:both;
  padding-top:15px;
  width:100%;
  background: rgb(220, 220, 220,) transparent;
  background: rgba(220, 220, 220, 0.8);
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 580px) { 
.topbar { background: rgb(192, 192, 192) transparent;
background: rgba(192, 192, 192, 0.8);
/*width: 90%;*/
margin-top: 1%;
}
.middle {
	margin-top:14%;
/*	width: 90%;*/
}
}
