.topbar { background: rgb(192, 192, 192) transparent;
background: rgba(192, 192, 192, 0.8);
width: 95%;
margin-top: 1%;
}

.menu {
	display: block;
	height: 5%;
	margin-bottom: 2%;
	z-index: 1;
}

.middle {
	margin-top:12%;
}

.f-nav{ z-index: 9999; 
	position: 
	fixed; 
	top: 0; 
	/*width: 90%;*/
}
.right{
	right:0;
}

.left{
	left:0;
}

.navbar-brand {
	float: left;
}

.navbar-right {
	float: right;
}


.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

/* Custom sizing for older machines */
/*@media (min-width: 600) { 
.middle {
	margin-top:16%;
}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
.topbar { background: rgb(192, 192, 192) transparent;
background: rgba(192, 192, 192, 0.8);
width: 90%;
margin-top: 1%;
}
.middle {
	margin-top:14%;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	.topbar { background: rgb(192, 192, 192) transparent;
background: rgba(192, 192, 192, 0.8);
width: 85%;
margin-top: 1%;
}

.middle {
	margin-top:12%;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
	.topbar { background: rgb(192, 192, 192) transparent;
background: rgba(192, 192, 192, 0.8);
width: 80%;
margin-top: 1%;
}

.middle {
	margin-top:10%;
}
}*/